<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Wgentech Orangy Shop for Interview</title>
        <link rel="stylesheet" href="../style/css/style.css">
        <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'>
    </head>
    <body>
        <div class="main">
            <main>
                <div class="page-main">
                    <div class="page-main-content-1">
                        <h1>Lorem ullamco</h1>
                        <div class="images">
                            <img src="../style/images/6a0120a1c79d0e02cf945647321f2c41.png">
                            <img src="../style/images/be63149f85ed41f0eb0b5603b7534f05.png">
                        </div>
                        <div class="content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Excepteur eiusmod consectetur proident Lorem reprehenderit esse do anim velit in aliquip dolore ut officia. Consectetur reprehenderit proident do exercitation eu. Sunt fugiat pariatur elit est laboris quis. Esse mollit incididunt quis amet. Qui non irure incididunt laborum nisi cillum consequat aliquip aliquip cillum in. Ut excepteur labore voluptate tempor cupidatat dolor eiusmod do ipsum Lorem cupidatat do labore.
                                <br/><br/>Proident dolore nisi eiusmod excepteur aliquip esse ut excepteur. Non excepteur sunt reprehenderit sit ex ullamco eiusmod Lorem incididunt nisi mollit nostrud. Irure velit enim elit minim commodo qui culpa cillum duis fugiat consequat pariatur.</p>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </body>
</html>